DBSTRING=
EXAM_YEAR=2026
NODE_ENV=development
PORT=5000


# JWT
JWT_SECRET=9abffc515f9f8842a0467c3b3016267c1545da4f0ddde2be70eb60ce4e875906
JWT_EXPIRES_IN=21D
JWT_REFRESH_SECRET
JWT_REFRESH_EXPIRES_IN=30d

# Admin seed credentials
ADMIN_EMAIL=admin@scorecardplatform.ng
ADMIN_PASSWORD=Admin@12345

# Result checking token prefix
RESULT_TOKEN_PREFIX=JAM

# File upload
MAX_FILE_SIZE_MB=5
UPLOAD_PATH=./uploads

# App
APP_NAME=SCORECARD Examination Platform
APP_URL=http://localhost:5000


